/* Firefox border code */
.gradient-border-firefox {
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(
    to right,
    #FFA436,  
    #FFA436,
    #D04900,  
    #D04900,
    #00539F,  
    #00539F
    );
}

/* Brave border code */
.gradient-border-brave {
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(
    to right,
    #FB542B,
    #FB542B,
    #a3278f,
    #a3278f,
    #4f30ab,
    #4f30ab
    );
}