<footer class="bg-gray-800 shadow-lg rounded-2xl mx-4 my-8 p-6 flex flex-col justify-center items-center space-y-8 transform transition-all duration-300 hover:shadow-2xl">

    <!-- Just to clarify this section is not sponsored!!! -->
    <div class="mt-4 text-center text-white">
        <!-- Just to clarify this section is not sponsored!!! -->
        <p>These are not sponsors just oomfs. For more info, check <a href="https://codeberg.org/gnukeith/review-website/src/branch/main/README.md#how-oomf-section-works" class="text-gray-400 hover:text-blue-500 transition duration-300">here</a>.</p>
    </div>

    <div class="flex flex-wrap justify-center items-center gap-8">
        <!-- Ente Section -->
        <section class="ente-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col justify-between items-center transition-transform duration-300 hover:scale-105" style="background-image: url('/static/img/ente_duck.png'); background-repeat: no-repeat; background-position: center;">
            <h2 class="text-center text-white text-lg underline mt-4 bg-gray-900 bg-opacity-75 px-2 rounded">Ente Section</h2>
            <img src="/static/img/ente192.png" alt="Best search engine" class="w-16 h-16">
            <a href="https://ente.io" class="text-green-500 hover:text-green-300 transition duration-300 bg-gray-900 bg-opacity-75 px-2 rounded">ente.io</a>
            <p class="text-center text-gray-400 text-sm mt-4 bg-gray-900 bg-opacity-75 px-2 rounded">Get Ente on:</p>
            <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-2">
                <a href="https://play.google.com/store/apps/details?id=com.ente.app" class="text-gray-400 hover:text-blue-500 transition duration-300">
                    <img src="/static/img/playstore.svg" alt="Play Store" class="w-32 h-10">
                </a>
                <a href="https://apps.apple.com/us/app/ente/id1479271773" class="text-gray-400 hover:text-blue-500 transition duration-300">
                    <img src="/static/img/app_store.svg" alt="App Store" class="w-36 h-12">
                </a>
            </div>
        </section>

        <!-- SMSpool Section -->
        <section class="smspool-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col justify-between items-center transition-transform duration-300 hover:scale-105">
            <h2 class="text-center text-white text-lg underline mt-4">SMSpool Section</h2>
            <img src="/static/img/smspool.png" alt="SMSpool" class="w-24 h-24">
            <p class="text-center text-gray-400 text-sm mt-4">Get SMSpool on:</p>
            <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-2">
                <a href="https://play.google.com/store/apps/details?id=com.smspool.app&hl=en_US" class="text-gray-400 hover:text-blue-500 transition duration-300">
                    <img src="/static/img/playstore.svg" alt="Play Store" class="w-32 h-10">
                </a>
                <a href="https://apps.apple.com/us/app/smspool/id6474617801" class="text-gray-400 hover:text-blue-500 transition duration-300">
                    <img src="/static/img/app_store.svg" alt="App Store" class="w-36 h-12">
                </a>
            </div>
        </section>

        <!-- Sarah's Section -->
        <section class="sarah-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col items-center transition-transform duration-300 hover:scale-105">
            <h2 class="text-center text-white text-lg underline mt-4">Sarah's Section</h2>
            <div class="flex flex-col items-center space-y-2 mt-4">
                <a href="https://x.com/chronocatgirl" class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/x.svg" alt="X" class="w-6 h-6">
                    <strong class="text-center text-gray-400 text-lg">Check out Sarah's AWESOME twitter page</strong>
                </a>
                <a href="https://linuxcatgirl.github.io/" class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/sarah.jpg" alt="Sarah" class="w-8 h-8">
                    <strong class="text-center text-gray-400 text-lg">Sarah is a pro web developer (real)</strong>
                </a>
            </div>
        </section>

        <!-- Keith Section -->
        <section class="keith-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col items-center transition-transform duration-300 hover:scale-105">
            <h2 class="text-center text-white text-lg underline mt-4">Keith Section</h2>
            <div class="flex flex-col items-center space-y-2 mt-4">
                <div class="flex items-center space-x-2">
                    <a href="https://x.com/gnukeith" class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                        <img src="/static/img/x.svg" alt="X" class="w-6 h-6">
                    </a>
                    <a href="https://mastodon.social/@keith684" class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                        <img src="/static/img/mastodon.svg" alt="Mastodon" class="w-6 h-6">
                    </a>
                </div>
                <div class="flex flex-col items-center space-y-2 mt-4">
                    <strong class="text-center text-gray-400 text-lg">
                        Check out Keith's <a href="https://x.com/gnukeith" class="text-gray-400 hover:text-red-500 transition duration-300">awe</a><a href="https://mastodon.social/@keith684" class="text-gray-400 hover:text-blue-500 transition duration-300">some.</a>
                    </strong>
                </div>
                <a href="https://keithswebsite.com" class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/osaka_look.jpg" alt="Keith" class="w-8 h-8">
                    <strong class="text-center text-gray-400 text-lg">Keith is a crypto trillionaire (very real)</strong>
                </a>
            </div>
        </section>
             

        <!-- PriEco Section -->
        <section class="prieco-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col justify-between items-center transition-transform duration-300 hover:scale-105">
            <h2 class="text-center text-white text-lg underline mt-4">PriEco Section</h2>
            <img src="/static/img/PriEco.webp" alt="Best search engine" class="w-8 h-16">
            <a href="https://prieco.net" class="text-green-500 hover:text-green-300 transition duration-300">prieco.net</a>
            <a href="https://x.com/priecosearch" class="text-gray-400 hover:text-blue-500 transition duration-300 flex items-center">
                <img src="/static/img/x.svg" alt="X" class="w-6 h-6 inline-block mr-2">
                PriEcoSearch on X
            </a>
        </section>

        <!-- michaelbolloz Section -->
        <section class="michaelbolloz-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col items-center transition-transform duration-300 hover:scale-105">
            <h2 class="text-center text-white text-lg underline mt-4">Michaelbollox's Section</h2>
            <div class="flex flex-col items-center space-y-2 mt-4">
                <a href="https://x.com/alice" class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/x.svg" alt="X" class="w-6 h-6">
                    <strong class="text-center text-gray-400 text-lg">Check out Michaelbollox's AWESOME twitter page</strong>
                </a>
                <a class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/michealbolloz.jpg" alt="Alice" class="w-8 h-8">
                    <strong class="text-center text-gray-400 text-lg">Talks about AI stuff</strong>
                </a>
            </div>
        </section>

        <!-- privacyperspective Section -->
        <section class="privacyperspective-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col items-center transition-transform duration-300 hover:scale-105">
            <h2 class="text-center text-white text-lg underline mt-4">PrivacyPerspective's Section</h2>
            <div class="flex flex-col items-center space-y-2 mt-4">
                <a class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/x.svg" alt="X" class="w-6 h-6">
                    <strong class="text-center text-gray-400 text-lg">Check out PrivacyPerspective's AWESOME twitter page</strong>
                </a>
                <a class="text-gray-400 hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2">
                    <img src="/static/img/privacyperspective.png" alt="Bob" class="w-8 h-8">
                    <strong class="text-center text-gray-400 text-lg">Privacy focused Twitter/Mastadon user</strong>
                </a>
            </div>
        </section>

        <!-- Resulti Section -->
        <section class="resulti-section p-4 rounded-lg shadow-lg relative border border-white bg-gradient-to-r from-gray-900 to-gray-800 w-full lg:w-72 h-72 flex flex-col justify-between items-center transition-transform duration-300 hover:scale-105" style="background-image: url('/static/img/resulti.png'); background-repeat: no-repeat; background-position: center 70px;">
            <h2 class="text-center text-white text-lg underline mt-4 bg-gray-900 bg-opacity-75 px-2 rounded">Resulti Section</h2>
            <div class="flex flex-col items-center space-y-2 text-gray-200 relative z-10" style="margin-top: -10px; margin-bottom: 50px;"> <!-- Adjust the 'margin-top' value to move the text up or down -->
                <a href="https://x.com/resultisearch" class="hover:text-blue-500 transition duration-300 flex flex-col items-center space-y-2 bg-gray-900 bg-opacity-75 p-2 rounded w-full max-w-xs"> <!-- Added background with opacity and width control -->
                    <img src="/static/img/x.svg" alt="X" class="w-6 h-6 opacity-75"> <!-- Set opacity for the image -->
                    <strong class="text-center text-lg text-gray-200 opacity-75">Check out Resulti's AWESOME twitter page</strong> <!-- Set opacity for the text -->
                </a>
                <a href="https://resulti.org/" class="flex flex-col items-center space-y-2 bg-gray-900 bg-opacity-75 p-2 rounded w-full max-w-xs"> <!-- Added background with opacity and width control -->
                    <strong class="text-center text-lg text-blue-500 hover:text-blue-300 transition duration-300 opacity-75">resulti</strong> <!-- Set default blue color and hover effect for the text -->
                </a>
            </div>
        </section>


    </div>
</footer>
